<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1RA_EVA_PRACTICA_3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9198B0121E5613A2009D8370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9198B0261E5613A3009D8370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9198B0311E5613A3009D8370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
