<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1RA_EVA_03_PRACTICA_SOLO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EBB4B7B1E561B6A008F1863</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EBB4B8F1E561B6A008F1863</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EBB4B9A1E561B6A008F1863</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
